

fieldset {
    margin: 0;
    border: 0;
    padding: 34px 63px
}

legend {
    display: block;
    font-size: 34px;
    text-align: center;
    color: #c9c9c9;
}



.checkbox {
    position: relative;
    display: block;
    margin-bottom: 26px;
    font-size: 12px;
    line-height: 40px;
    padding-left: 70px;
    color: #6E6893;
}

.checkbox__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    left: 0px;
    top: 20px;
    margin: 0;
    top: 0;
}
.checkbox__input:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 3px;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #F4F2FF;
    border-radius: 8px;
}

.checkbox__input:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20px;
    height: 10px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
}

.checkbox__input:focus-visible {
    outline: none
}

.checkbox__input:checked:after {
    opacity: 1
}

.checkbox__input:focus:before {
    box-shadow: 0px 0px 10px rgba(113, 0, 227, 0.5);
}

.checkbox__input:hover:not(:disabled):before {
    box-shadow: 0px 0px 10px rgba(0, 113, 227, 0.5);
}

.checkbox__input:disabled:before {
    background-color: #cccccc;
}