@font-face {
  font-family: Inter;
  src: local('Inter'), url('../fonts/Inter-Regular.woff2') format("woff2"),
      url('../fonts/Inter-Regular.woff') format('woff');
      font-weight: 600;
}

body {
  background-color: #F2F0F9;
  font-family: 'Inter';
  text-transform: uppercase;
}

h1 {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #6E6893;
}


.card {
  background-image: url('../img/Rectangle\ 44.svg');
  background-repeat: no-repeat;
  width: 580px;
  height: 620px;
  color: #FFFFFF;
  border-radius: 16px;
}
.cross {
  padding-left: 742px;
}

.name {
  color: #6E6893;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
}
